<app-header>
    <div class="user-info">
        <p class="username" *ngIf="isLoggedIn">{{ user?.result?.email }}</p>
        <app-button
            (click)="onLogout()"
            *ngIf="isLoggedIn"
            buttonText="logout"
        ></app-button>
    </div>
    <app-button
        *ngIf="!isLoggedIn"
        buttonText="login"
        routerLink="/auth/login"
    ></app-button>
</app-header>
<div class="app-root">
    <app-info
        title="Your List Is Empty"
        text="Please use 'Add New Course' button to add your first course"
    >
        <app-button
            routerLink="/courses/add"
            buttonText="add new course"
        ></app-button>
    </app-info>

    <router-outlet></router-outlet>

    <!-- Course Card component -->
    <!-- <app-course-card></app-course-card> -->

    <!-- <app-courses></app-courses> -->
    <!-- Login Form component -->
    <!-- <app-login-form></app-login-form> -->

    <!-- Login Form component -->
    <!-- <app-registration-form></app-registration-form> -->

    <!-- Login Form component -->
    <!-- <app-course-form></app-course-form> -->

    <!-- Modal component -->
    <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
